---

---

<footer class="w-full max-w-content pb-6 pt-10">
    <p>
        Codificado y Mantenido con ❤️ por 
        <a href="https://github.com/Unnunoctio" aria-label="github" target="_blank" rel="noreferrer" class="font-medium underline decoration-violet-600 underline-off-set-4 hover:text-violet-700">Unnunoctio</a> 
        &copy; {new Date().getFullYear()}
    </p>
</footer>