---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import "@/styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen flex flex-col items-center px-2 font-satoshi text-foreground bg-slate-50 bg-[radial-gradient(rgba(0,0,0,0.6)_1px,transparent_1px)] bg-size-[150px_150px]">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Satoshi";
		src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Satoshi";
		src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Satoshi";
		src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Expletus Sans";
		src: url("/fonts/ExpletusSans-Medium.ttf") format("truetype");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
</style>
