---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="About | Drinks API">
    <main class="flex-1 w-full max-w-content">
        <h1 class="py-3 sm:py-6 font-medium text-3xl sm:text-4xl">Acerca de</h1>
        
        <section class="px-4 mt-3 max-w-225">
            <h2 class="text-xl sm:text-2xl">¿Qué es esto?</h2>
            <p class="pt-4 text-pretty">
                Este sitio web proporciona una interfaz de API REST de objetos detallados a 
                partir de miles de datos relacionados con bebidas alcohólicas. Usando este 
                sitio web, puedes obtener información sobre diferentes bebidas alcohólicas 
                alrededor del mundo.
            </p>
        </section>

        <section class="mt-8 sm:mt-12 px-4 max-w-225">
            <h2 class="text-xl sm:text-2xl">¿Qué es una API?</h2>
            <p class="pt-4 text-pretty">
                Una API (Application Programming Interface) permite a los desarrolladores 
                acceder a las funcionalidades de una aplicación, servicio o plataforma sin 
                necesidad de conocer sus detalles internos. En este caso, es una base de 
                datos con cientos de objetos relacionados con bebidas alcohólicas.
            </p>
        </section>

        <!-- <section class="mt-8 sm:mt-12 px-4 max-w-225">
            <h2 class="text-xl sm:text-2xl">Rutas</h2>
            <p class="pt-4 text-pretty">
                Estos son todos los métodos HTTP admitidos. Puedes usar http o https para tus solicitudes.
            </p>
            <ul class="flex flex-col gap-y-1 pl-4 pt-6">
                <li class="flex gap-8">
                    <span>GET</span>
                    <a href={`${urlPath}/brands`} class="text-blue-500 hover:underline">/brands</a>
                </li>
                <li class="flex gap-8">
                    <span>GET</span>
                    <span>/brands/[brand]</span>
                </li>
                <li class="flex gap-8">
                    <span>GET</span>
                    <a href={`${urlPath}/categories`} class="text-blue-500 hover:underline">/categories</a>
                </li>
                <li class="flex gap-8">
                    <span>GET</span>
                    <span>/categories/[category]</span>
                </li>
                <li class="flex gap-8">
                    <span>GET</span>
                    <span>/categories/[category]/[sub-category]</span>
                </li>
                <li class="flex gap-8">
                    <span>GET</span>
                    <a href={`${urlPath}/origins`} class="text-blue-500 hover:underline">/origins</a>
                </li>
                <li class="flex gap-8">
                    <span>GET</span>
                    <span>/origins/[country]</span>
                    </li>
                <li class="flex gap-8">
                    <span>GET</span>
                    <a href={`${urlPath}/drinks?limit=100&page=1`} class="text-blue-500 hover:underline">/drinks?limit=100&page=1</a>
                </li>
            </ul>
        </section> -->

        <section class="mt-8 sm:mt-12 px-4 max-w-225">
            <h2 class="text-xl sm:text-2xl">¿Cuáles son las tecnologías que se utilizan?</h2>
            <p class="pt-4 text-pretty">
                El sistema está construido con tecnologías modernas y orientadas al rendimiento.  
                Se utiliza 
                <a href="https://nodejs.org/es" aria-label="nodejs" target="_blank" rel="noreferrer" class="font-medium underline decoration-violet-600 underline-off-set-4 hover:text-violet-700">Node.js</a>
                junto con 
                <a href="https://www.typescriptlang.org/" aria-label="typescript" target="_blank" rel="noreferrer" class="font-medium underline decoration-violet-600 underline-off-set-4 hover:text-violet-700">TypeScript</a>
                para garantizar escalabilidad y mantenibilidad del código.  
                La API REST se implementa mediante 
                <a href="https://hono.dev" aria-label="hono" target="_blank" rel="noreferrer" class="font-medium underline decoration-violet-600 underline-off-set-4 hover:text-violet-700">Hono</a>
                y se ejecuta en 
                <a href="https://developers.cloudflare.com/workers/" aria-label="cloudflare workers" target="_blank" rel="noreferrer" class="font-medium underline decoration-violet-600 underline-off-set-4 hover:text-violet-700">Cloudflare Workers</a>,
                utilizando 
                <a href="https://developers.cloudflare.com/d1/" aria-label="cloudflare d1" target="_blank" rel="noreferrer" class="font-medium underline decoration-violet-600 underline-off-set-4 hover:text-violet-700">Cloudflare D1</a>
                como base de datos SQL administrada en la nube.
            </p>
            <p class="pt-4 text-pretty">
                El frontend se desarrolló con 
                <a href="https://astro.build" aria-label="astro" target="_blank" rel="noreferrer" class="font-medium underline decoration-violet-600 underline-off-set-4 hover:text-violet-700">Astro</a>,
                un framework moderno enfocado en el rendimiento y la optimización del contenido.
                El sitio se despliega mediante 
                <a href="https://developers.cloudflare.com/pages/" aria-label="cloudflare pages" target="_blank" rel="noreferrer" class="font-medium underline decoration-violet-600 underline-off-set-4 hover:text-violet-700">Cloudflare Pages</a>,
                aprovechando una infraestructura global para mejorar los tiempos de carga.
            </p>
        </section>

        </section>
            <section class="mt-8 sm:mt-12 px-4 max-w-225">
            <h2 class="text-xl sm:text-2xl">Repositorio del Proyecto</h2>
            <ul class="flex flex-col gap-y-1 pt-6">
                <li class="flex gap-8">
                    <a href="https://github.com/Unnunoctio/Drinks-API" aria-label="drinks-website-api" target="_blank" rel="noreferrer" class="font-medium underline decoration-violet-600 underline-off-set-4 hover:text-violet-700">Drinks API</a>
                </li>
            </ul>
        </section>
    </main>
</Layout>